.list-products {
    list-style: none;
}

.card-product {
    transition: .2s;
    border: none;
    background-color: rgba(255, 255, 255, 1);

    a:hover {
        color: rgb(0, 0, 0);
    }

    .card-text {
            font-size: 0.95rem;
    }

}

.card-product>*{ 
    color: black;
    text-decoration: none;
}

.card-product:hover { 
transform: scale(1.005);
}

.mainProduct {
    min-height: 65vh;
}